.grid {
	@include display-flex;
	@include flex-direction-column;

  &--wrap {
    @include flex-wrap-wrap;
  }

	&--reversed-on-mobile {
		@include flex-direction-column-reverse;
	}
  
  @media(min-width: 900px) {
  	@include flex-direction-row;
  }

  &--two {
  	.grid-item {
  		@media(min-width: 900px) {
  			width: 50%;
  		}
  	}
  }

  &--three {
  	.grid-item {
  		width: 33.333%;
  	}
  }

  &--fixed {
    @include flex-direction-row;
    
    .grid-item {
      width: 50%;
    }
  }
}

.grid-item {

}