.about {

	&__image {
		@include display-flex;
		@include align-items-center;
		@include justify-content-center;
		margin: 2em 0;

		@media(min-width: 900px) {
			margin: 0;
		}
	}

	&__image-wrapper {
		@include border-radius(50%);
		width: 300px;
    height: 300px;
		display: inline-block;
		border: 20px solid;
		overflow: hidden;
	}
	
	img {
		width: 300px;
		margin: 0;
	}
}