.button {
	padding: 0.6em;
	font-size: 0.9em;
	background-color: $color-button-background;
	color: $color-button;
	text-decoration: none;
	display: inline-block;
	transition: all ease-in-out 300ms;
	@include border-radius(3px);

	&:hover,
	&:focus {
		background-color: $color-button-background-white-hover;
		color: $color-button;
	}

	&--white {
		background-color: $color-button-background-white;
		color: $color-button-white;

		&:focus,
		&:hover {
			background-color: $color-button-background-white-hover;
			color: $color-button;
		}
	}
}