/* COLOUR DEFINITIONS */
$_white: #ffffff;
$_black: #000000;
$_ant: #48bf84;
$_fly: #358e62;
$_bug: rgba(0, 0, 0, 0.8);


/* COLOUR IMPLEMENTATIONS */

/* BODY */
$color-text: $_bug;

/* HERO */
$color-hero-background-green: $_ant;
$color-hero-color-green: $_white;

/* BUTTON */
$color-button-background: $_ant;
$color-button: $_white;
$color-button-background-white: $_white;
$color-button-background-white-hover: $_fly;
$color-button-white: $_ant;

/* SERVICES */
$color-highlight: $_ant;